In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('Exercices_Pandas_athlete_events.csv')
df.head(5)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [4]:
df.tail(5)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [9]:
df.shape

(271116, 15)

In [11]:
df.describe()

,ID,Age,Height,Weight,Year
count,271116.000000,261642.000000,210945.000000,208241.000000,271116.000000
mean,68248.954396,25.556898,175.338970,70.702393,1978.378480
std,39022.286345,6.393561,10.518462,14.348020,29.877632
min,1.000000,10.000000,127.000000,25.000000,1896.000000
25%,34643.000000,21.000000,168.000000,60.000000,1960.000000
50%,68205.000000,24.000000,175.000000,70.000000,1988.000000
75%,102097.250000,28.000000,183.000000,79.000000,2002.000000
max,135571.000000,97.000000,226.000000,214.000000,2016.000000

In [18]:
df.isna().sum()

ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

In [ ]:
display(df['Games'].unique())
df.groupby(by='Games')

array(['1992 Summer', '2012 Summer', '1920 Summer', '1900 Summer',
       '1988 Winter', '1992 Winter', '1994 Winter', '1932 Summer',
       '2002 Winter', '1952 Summer', '1980 Winter', '2000 Summer',
       '1996 Summer', '1912 Summer', '1924 Summer', '2014 Winter',
       '1948 Summer', '1998 Winter', '2006 Winter', '2008 Summer',
       '2016 Summer', '2004 Summer', '1960 Winter', '1964 Winter',
       '1984 Winter', '1984 Summer', '1968 Summer', '1972 Summer',
       '1988 Summer', '1936 Summer', '1952 Winter', '1956 Winter',
       '1956 Summer', '1960 Summer', '1928 Summer', '1976 Summer',
       '1980 Summer', '1964 Summer', '2010 Winter', '1968 Winter',
       '1906 Summer', '1972 Winter', '1976 Winter', '1924 Winter',
       '1904 Summer', '1928 Winter', '1908 Summer', '1948 Winter',
       '1932 Winter', '1936 Winter', '1896 Summer'], dtype=object)

In [23]:
display(df['Name'])

0                        A Dijiang
1                         A Lamusi
2              Gunnar Nielsen Aaby
3             Edgar Lindenau Aabye
4         Christine Jacoba Aaftink
                    ...
271111                  Andrzej ya
271112                    Piotr ya
271113                    Piotr ya
271114          Tomasz Ireneusz ya
271115          Tomasz Ireneusz ya
Name: Name, Length: 271116, dtype: object

In [25]:
display(df.loc[:,['Name']])

                            Name
0                      A Dijiang
1                       A Lamusi
2            Gunnar Nielsen Aaby
3           Edgar Lindenau Aabye
4       Christine Jacoba Aaftink
...                          ...
271111                Andrzej ya
271112                  Piotr ya
271113                  Piotr ya
271114        Tomasz Ireneusz ya
271115        Tomasz Ireneusz ya

[271116 rows x 1 columns]

In [26]:
display(df.loc[:,['Event','City','Name','Medal']])

,Event,City,Name,Medal
0,Basketball Men's Basketball,Barcelona,A Dijiang,NaN
1,Judo Men's Extra-Lightweight,London,A Lamusi,NaN
2,Football Men's Football,Antwerpen,Gunnar Nielsen Aaby,NaN
3,Tug-Of-War Men's Tug-Of-War,Paris,Edgar Lindenau Aabye,Gold
4,Speed Skating Women's 500 metres,Calgary,Christine Jacoba Aaftink,NaN
...,...,...,...,...
271111,Luge Mixed (Men)'s Doubles,Innsbruck,Andrzej ya,NaN
271112,"Ski Jumping Men's Large Hill, Individual",Sochi,Piotr ya,NaN
271113,"Ski Jumping Men's Large Hill, Team",Sochi,Piotr ya,NaN
271114,Bobsleigh Men's Four,Nagano,Tomasz Ireneusz ya,NaN
271115,Bobsleigh Men's Four,Salt Lake City,Tomasz Ireneusz ya,NaN

In [32]:
display(df.iloc[0:26,:])

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
9,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
10,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
11,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
12,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
13,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
14,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
15,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN
16,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
17,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
18,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
19,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
20,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
21,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
22,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
23,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN
24,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
25,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN

In [40]:
cond1 = df['Sport']=='Football'
cond2 = df['Sex']=='M'

display(df.loc[cond1 & cond2])

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
116,41,Rolf Aas,M,28.0,NaN,NaN,Norway,NOR,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
157,61,Stefan Abadzhiev,M,26.0,175.0,72.0,Bulgaria,BUL,1960 Summer,1960,Summer,Roma,Football,Football Men's Football,NaN
178,76,Jouan Patrice Abanda Etong,M,22.0,185.0,82.0,Cameroon,CMR,2000 Summer,2000,Summer,Sydney,Football,Football Men's Football,Gold
183,81,Georgios Abaris,M,22.0,190.0,77.0,Greece,GRE,2004 Summer,2004,Summer,Athina,Football,Football Men's Football,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270734,135398,Gianni Michel Eugne Zuiverloon,M,21.0,178.0,70.0,Netherlands,NED,2008 Summer,2008,Summer,Beijing,Football,Football Men's Football,NaN
270810,135438,Manuel Ziga Fernndez,M,20.0,172.0,69.0,Spain,ESP,1980 Summer,1980,Summer,Moskva,Football,Football Men's Football,NaN
270843,135455,Vjekoslav upani,M,19.0,NaN,NaN,Yugoslavia,YUG,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
270982,135504,Viktor Oleksandrovych Zviahintsev,M,25.0,178.0,79.0,Soviet Union,URS,1976 Summer,1976,Summer,Montreal,Football,Football Men's Football,Bronze
271107,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN

In [42]:
cond1 = df['Sport']=='Football'
cond2 = df['Event']=='Football Women\'s Football'

display(df.loc[cond1 & cond2])

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
105,37,Ann Kristin Aarnes,F,23.0,182.0,64.0,Norway,NOR,1996 Summer,1996,Summer,Atlanta,Football,Football Women's Football,Bronze
772,444,Camille Anne Franoise Abily,F,27.0,168.0,60.0,France,FRA,2012 Summer,2012,Summer,London,Football,Football Women's Football,NaN
773,444,Camille Anne Franoise Abily,F,31.0,168.0,60.0,France,FRA,2016 Summer,2016,Summer,Rio de Janeiro,Football,Football Women's Football,NaN
2796,1552,Kikelomo Ajayi,F,23.0,164.0,57.0,Nigeria,NGR,2000 Summer,2000,Summer,Sydney,Football,Football Women's Football,NaN
2911,1622,Michelle Anne Akers,F,30.0,178.0,68.0,United States,USA,1996 Summer,1996,Summer,Atlanta,Football,Football Women's Football,Gold
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269106,134654,Zhao Lina,F,24.0,188.0,67.0,China,CHN,2016 Summer,2016,Summer,Rio de Janeiro,Football,Football Women's Football,NaN
269110,134658,Zhao Rong,F,25.0,171.0,59.0,China,CHN,2016 Summer,2016,Summer,Rio de Janeiro,Football,Football Women's Football,NaN
269381,134792,Zhou Gaoping,F,21.0,167.0,60.0,China,CHN,2008 Summer,2008,Summer,Beijing,Football,Football Women's Football,NaN
270454,135281,Francine Zouga Edoa,F,24.0,155.0,60.0,Cameroon,CMR,2012 Summer,2012,Summer,London,Football,Football Women's Football,NaN
270901,135476,Emily Jane Zurrer,F,21.0,179.0,69.0,Canada,CAN,2008 Summer,2008,Summer,Beijing,Football,Football Women's Football,NaN

In [57]:
cond1 = df['Season']=='Summer'
#display(df.loc[cond1])
ete = df.loc[df['Season']=='Summer']

In [58]:
display(ete)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
26,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271106,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN
271107,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN
271108,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271109,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271110,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN

In [59]:
cond1 = df['Season']=='Winter'
#display(df.loc[cond1])
hiver = df.loc[df['Season']=='Winter']
hiver

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [61]:
display(df['Sport'].unique())

array(['Basketball', 'Judo', 'Football', 'Tug-Of-War', 'Speed Skating',
       'Cross Country Skiing', 'Athletics', 'Ice Hockey', 'Swimming',
       'Badminton', 'Sailing', 'Biathlon', 'Gymnastics',
       'Art Competitions', 'Alpine Skiing', 'Handball', 'Weightlifting',
       'Wrestling', 'Luge', 'Water Polo', 'Hockey', 'Rowing', 'Bobsleigh',
       'Fencing', 'Equestrianism', 'Shooting', 'Boxing', 'Taekwondo',
       'Cycling', 'Diving', 'Canoeing', 'Tennis', 'Modern Pentathlon',
       'Figure Skating', 'Golf', 'Softball', 'Archery', 'Volleyball',
       'Synchronized Swimming', 'Table Tennis', 'Nordic Combined',
       'Baseball', 'Rhythmic Gymnastics', 'Freestyle Skiing',
       'Rugby Sevens', 'Trampolining', 'Beach Volleyball', 'Triathlon',
       'Ski Jumping', 'Curling', 'Snowboarding', 'Rugby',
       'Short Track Speed Skating', 'Skeleton', 'Lacrosse', 'Polo',
       'Cricket', 'Racquets', 'Motorboating', 'Military Ski Patrol',
       'Croquet', 'Jeu De Paume', 'Roque', 'Alpinism', 'Basque Pelota',
       'Aeronautics'], dtype=object)

In [69]:
cond1 = df['Name']=='%Owens'
df.query('Name.str.contains("Owens")')

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
14038,7587,"Kenneth Owens ""Ken"" Bantum",M,21.0,198.0,106.0,United States,USA,1956 Summer,1956,Summer,Melbourne,Athletics,Athletics Men's Shot Put,NaN
58932,30156,Alexander Mah Owens Drysdale,M,25.0,200.0,102.0,New Zealand,NZL,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Coxless Fours,NaN
58933,30156,Alexander Mah Owens Drysdale,M,29.0,200.0,102.0,New Zealand,NZL,2008 Summer,2008,Summer,Beijing,Rowing,Rowing Men's Single Sculls,Bronze
58934,30156,Alexander Mah Owens Drysdale,M,33.0,200.0,102.0,New Zealand,NZL,2012 Summer,2012,Summer,London,Rowing,Rowing Men's Single Sculls,Gold
58935,30156,Alexander Mah Owens Drysdale,M,37.0,200.0,102.0,New Zealand,NZL,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Men's Single Sculls,Gold
115552,58540,"Kathlyn ""Kathy"" Kelley (-Owens)",F,16.0,NaN,NaN,United States,USA,1936 Summer,1936,Summer,Berlin,Athletics,Athletics Women's High Jump,NaN
179547,90223,"Gerald ""Ger"" Owens",M,25.0,176.0,60.0,Ireland,IRL,2004 Summer,2004,Summer,Athina,Sailing,Sailing Men's Two Person Dinghy,NaN
179548,90223,"Gerald ""Ger"" Owens",M,29.0,176.0,60.0,Ireland,IRL,2008 Summer,2008,Summer,Beijing,Sailing,Sailing Men's Two Person Dinghy,NaN
179549,90223,"Gerald ""Ger"" Owens",M,33.0,176.0,60.0,Ireland,IRL,2012 Summer,2012,Summer,London,Sailing,Sailing Men's Two Person Dinghy,NaN
179550,90224,James Earl Owens,M,21.0,183.0,80.0,United States,USA,1976 Summer,1976,Summer,Montreal,Athletics,Athletics Men's 110 metres Hurdles,NaN
179551,90225,Jenny Owens,F,23.0,168.0,65.0,Australia,AUS,2002 Winter,2002,Winter,Salt Lake City,Alpine Skiing,Alpine Skiing Women's Downhill,NaN
179552,90225,Jenny Owens,F,23.0,168.0,65.0,Australia,AUS,2002 Winter,2002,Winter,Salt Lake City,Alpine Skiing,Alpine Skiing Women's Super G,NaN
179553,90225,Jenny Owens,F,23.0,168.0,65.0,Australia,AUS,2002 Winter,2002,Winter,Salt Lake City,Alpine Skiing,Alpine Skiing Women's Giant Slalom,NaN
179554,90225,Jenny Owens,F,23.0,168.0,65.0,Australia,AUS,2002 Winter,2002,Winter,Salt Lake City,Alpine Skiing,Alpine Skiing Women's Combined,NaN
179555,90225,Jenny Owens,F,31.0,168.0,65.0,Australia,AUS,2010 Winter,2010,Winter,Vancouver,Freestyle Skiing,Freestyle Skiing Women's Ski Cross,NaN
179556,90225,Jenny Owens,F,35.0,168.0,65.0,Australia,AUS,2014 Winter,2014,Winter,Sochi,Freestyle Skiing,Freestyle Skiing Women's Ski Cross,NaN
179557,90226,"James Cleveland ""Jesse"" Owens",M,22.0,178.0,71.0,United States,USA,1936 Summer,1936,Summer,Berlin,Athletics,Athletics Men's 100 metres,Gold
179558,90226,"James Cleveland ""Jesse"" Owens",M,22.0,178.0,71.0,United States,USA,1936 Summer,1936,Summer,Berlin,Athletics,Athletics Men's 200 metres,Gold
179559,90226,"James Cleveland ""Jesse"" Owens",M,22.0,178.0,71.0,United States,USA,1936 Summer,1936,Summer,Berlin,Athletics,Athletics Men's 4 x 100 metres Relay,Gold
179560,90226,"James Cleveland ""Jesse"" Owens",M,22.0,178.0,71.0,United States,USA,1936 Summer,1936,Summer,Berlin,Athletics,Athletics Men's Long Jump,Gold
179561,90227,Tarja Owens,F,23.0,165.0,56.0,Ireland,IRL,2000 Summer,2000,Summer,Sydney,Cycling,"Cycling Women's Mountainbike, Cross-Country",NaN
179562,90228,Thomas Alfred Owens,M,26.0,183.0,110.0,Maryke,AUS,1964 Summer,1964,Summer,Tokyo,Sailing,Sailing Mixed Two Person Keelboat,NaN